@model GISModel.Entidades.Empresa

@if (Model != null)
{

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td><strong>CNPJ</strong></td>
            <td>@Model.CNPJ</td>
        </tr>
        <tr>
            <td><strong>Nome Fantasia</strong></td>
            <td>@Model.NomeFantasia</td>
        </tr>
        <tr>
            <td><strong>Razão Social</strong></td>
            <td>@Model.RazaoSocial</td>
        </tr>
        <tr>
            <td><strong>Site</strong></td>
            <td>@Model.URL_Site</td>
        </tr>
        <tr>
            <td><strong>Logo-marca</strong></td>
            <td>@Model.URL_LogoMarca</td>
        </tr>
        <tr>
            <td><strong>Active Directory</strong></td>
            <td>@Model.URL_AD</td>
        </tr>
        <tr>
            <td><strong>Web Service</strong></td>
            <td>@Model.URL_WS</td>
        </tr>
    </table>

}
