@using GISModel.Entidades

@{
    ViewBag.Title = "Listagem de Estabelcimentos";
}

<div class="row">
    @*<div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Estabelecimento
            <a href="@Url.Action("Novo", "Estabelecimento")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo Estabelecimento
            </a>
        </h3>
    </div>*@
</div>

<div class="row">
    <div class="col-xs-12">

        @{
            Html.RenderPartial("_MensagensDeRetorno");
        }

        @if (ViewBag.Estabelecimento != null)
        {
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>Empresa</th>
                            <th>Departamento</th>
                            <th>Nome do Estabelecimento</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th width="70px"></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (Estabelecimento iEstabelecimento in ViewBag.Estabelecimento)
                        {

                        <tr id="linha-@iEstabelecimento.IDEstabelecimento">

                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>@iEstabelecimento.Departamento.Diretoria.Empresa.NomeFantasia</td>
                            <td>@iEstabelecimento.Departamento.Sigla</td>
                            <td>@iEstabelecimento.NomeCompleto</td>
                            <td>@iEstabelecimento.TipoDeEstabelecimento</td>
                            <td>@iEstabelecimento.Descricao</td>


                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">


                                    <a href='@Url.Action("Edicao", "Estabelecimento", new { id = @iEstabelecimento.IDEstabelecimento })' title="Editar" class="green">
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>

                                    <a class="red" href='@Url.Action("Novo", "EstabelecimentoAmbiente", new { id = @iEstabelecimento.IDEstabelecimento })' title="Cadastrar Ambiente">

                                        <i class="ace-icon fa fa-plus bigger-130"></i>
                                    </a>
                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href='@Url.Action("Edicao", "Estabelecimento", new { id = @iEstabelecimento.IDEstabelecimento })' title="Editar" class="green">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="red" href='@Url.Action("Novo", "EstabelecimentoAmbiente", new { id = @iEstabelecimento.IDEstabelecimento })' title="Cadastrar Ambiente">

                                                    <i class="ace-icon fa fa-plus bigger-130"></i>
                                                </a>
                                            </li>

                                            @*<li>
                            <a href="#" class="tooltip-error" onclick="DeletarEstabelecimento('@iEstabelecimento.IDEstabelecimento');" data-rel="tooltip" title="Delete">
                                <span class="red">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </span>
                            </a>
                        </li>*@
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        }

                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/Estabelecimento/Listagem.js"></script>
}
