@using GISModel.Entidades

@{
    ViewBag.Title = "Lista de Imagens de Estabelecimentos";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Detalhes do Ambiente: &nbsp;@ViewBag.nome
            @*<a href="@Url.Action("Novo", "EStabelecimentoImagens")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
            <i class="ace-icon fa fa-plus bigger-120 blue"></i>
            Nova Imagem
        </a>*@
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        @{
            Html.RenderPartial("_MensagensDeRetorno");
        }

        @if (ViewBag.Imagens != null)
        {
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="100px"></th>                            
                            <th>Resumo do Ambiente</th>
                            <th width="60px">Atividades</th>
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (EstabelecimentoAmbiente iImagens in ViewBag.Imagens)
                        {
                            <tr id="linha-@iImagens.IDEstabelecimentoImagens">
                                <td>
                                    <img src="/Images/EstabelecimentoImagens/@iImagens.IDEstabelecimentoImagens/@iImagens.Imagem" alt="Estabelecimento" width="90px" title="@iImagens.NomeDaImagem" />
                                </td>                                
                                <td>@iImagens.ResumoDoLocal</td>


                                @*<td class="hidden-480">@iImagens.NomeDaImagem</td>*@
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons center">

                                        <a class="red center" href='@Url.Action("Lista", "AtividadesDoEstabelecimento", new { id = @iImagens.IDEstabelecimentoImagens,nome=@iImagens.Estabelecimento.NomeCompleto  })' title="Atividades do Ambientes">

                                            <i class="ace-icon fa fa-search bigger-130 center"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                <li>
                                                    <a class="red center" href='@Url.Action("Lista", "AtividadesDoEstabelecimento", new { id = @iImagens.IDEstabelecimentoImagens, nome=@iImagens.Estabelecimento.NomeCompleto })' title="Listar Ambiente">

                                                        <i class="ace-icon fa fa-search bigger-130 center"></i>
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                    @*<button class="btn btn-info" id="btnSalvar" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Salvar
                        </button>
                        &nbsp;
                        <button class="btn btn-warning" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Limpar
                        </button>*@
                    &nbsp;
                    <a class="btn" href="javascript:history.back()">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Voltar
                    </a>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

<script src="~/Scripts/Custom/EstabelecimentoImagens/Lista .js"></script>
    
}
