@model GISModel.Entidades.Cargo
@{
    ViewBag.Title = "Cadastro de Cargo";
}

<div id="formCadCargo">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Cadastro de Cargo
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("Cadastrar", "Cargo", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessCadastrarCargo", }, new { @id = "formCadastroCargo", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.LabelFor(d => d.IDDiretoria, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.IDDiretoria, (SelectList)ViewBag.Diretoria, "Selecione uma Diretoria...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlDiretoria", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.IDDiretoria, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(d => d.NomeDoCargo, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.NomeDoCargo, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                    @Html.ValidationMessageFor(d => d.NomeDoCargo, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" id="btnSalvar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Salvar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
                &nbsp;
                <a class="btn" href="javascript:history.back()">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    }


</div> <!-- Fim FormQuery -->



<div>
    <div class="row">
        <div class="col-xs-12">

            @*@{
                    Html.RenderPartial("_MensagensDeRetorno");
                }*@

            @if (ViewBag.Imagens != null)
            {
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="100px"></th>
                                @*<th width="300px">Nome da Ambiente</th>*@
                                <th>Resumo do Local</th>
                                <th width="100px">Riscos</th>
                            </tr>

                        </thead>

                        <tbody>

                            @foreach (var iImagens in ViewBag.Imagens)
                            {
                                <tr id="linha-@iImagens.IDEstabelecimentoImagens">
                                    <td>
                                        <img src="/Images/EstabelecimentoImagens/@iImagens.IDEstabelecimentoImagens/@iImagens.Imagem" alt="Estabelecimento" width="90px" />
                                        @iImagens.NomeDaImagem
                                    </td>
                                    @*<td>@iImagens.NomeDaImagem</td>*@
                                    <td>@iImagens.ResumoDoLocal</td>
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href='@Url.Action("Index", "AtividadesDoEstabelecimento", new { id = @iImagens.IDEstabelecimentoImagens, nome = iImagens.NomeDaImagem })' class="tooltip-success" data-rel="tooltip" title="Riscos relacionados a este Ambiente">
                                                <i class="ace-icon fa fa-search-plus bigger-140"></i>
                                            </a>
                                            <a href='@Url.Action("Edicao", "AtividadesDoEstabelecimento", new { id = @iImagens.IDEstabelecimentoImagens })' class="green" data-rel="tooltip" title="Editar">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>
                                            <a href='@Url.Action("Novo", "AtividadesDoEstabelecimento", new { id = @iImagens.IDEstabelecimentoImagens, nome = iImagens.NomeDaImagem })' class="tooltip-success" data-rel="tooltip" title="Cadastrar Riscos deste Ambiente">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-pencil-square-o bigger-140"></i>
                                                </span>
                                            </a>


                                        </div>
                                    </td>


                                </tr>

                            }

                        </tbody>
                    </table>
                </div>

            }

        </div>
    </div>

</div>



@section Scripts {


    <script src="~/Scripts/Custom/Cargo/Novo.js"></script>

}


























