@model GISModel.Entidades.TipoDeRisco



@{
    ViewBag.Title = "Edicao";
}


<div id="formEdicaoRiscos">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Edição de Tipo de Riscos
                </h1>
            </div>
        </div>
    </div>

    @if (Model == null)
    {
        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="ace-icon fa fa-exclamation-triangle"></i>
                        Oops
                    </span>
                    Não foi possível encontrar o Tipo de Risco.
                </h1>

                <hr />
                <div class="space"></div>

                <div class="center">
                    <a href="javascript:history.back()" class="btn btn-grey">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        using (Ajax.BeginForm("Atualizar", "TipoDeRisco", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginAtualizarRiscos", OnSuccess = "OnSuccessCadastrarRiscos", }, new { @id = "formEdicaoRiscos", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(d => d.DescricaoDoRisco, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.DescricaoDoRisco, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(d => d.EventoPerigoso.Descricao, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.EventoPerigoso.Descricao, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtCNPJ" } })
                        @Html.ValidationMessageFor(d => d.EventoPerigoso.Descricao, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.Label("Possíveis Danos", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.PossiveisDanos.DescricaoDanos, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtCNPJ" } })
                        @Html.ValidationMessageFor(d => d.PossiveisDanos.DescricaoDanos, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        @Html.HiddenFor(d => d.IDTipoDeRisco)

                    </div>
                </div>
            </div>

        </div>



            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Salvar
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Limpar
                    </button>
                    &nbsp;
                    <a class="btn" href="javascript:history.back()">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Voltar
                    </a>
                </div>
            </div>
        }
    }



</div> <!-- Fim Form -->
@section Scripts {

    <script src="~/Scripts/Custom/TipoDeRisco/Edicao.js"></script>

}
