@model GISModel.Entidades.TipoDeRisco
@{
    ViewBag.Title = "Cadastro de Tipo de Risco";
}

<div id="formCadTipoDeRisco">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Cadastro de Tipo de Risco
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("Cadastrar", "TipoDeRisco", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessCadastrarTipoDeRisco", }, new { @id = "formCadastroTipoDeRisco", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.Label("Descrição do Risco", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.DescricaoDoRisco, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                    @Html.ValidationMessageFor(d => d.DescricaoDoRisco, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.Label("Evento Perigoso", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.idEventoPerigoso, (SelectList)ViewBag.EventoPerigoso, "Selecione um Evento Perigoso...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlEventoPerigoso", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.idEventoPerigoso, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                @Html.Label("Possiveis Danos", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.DropDownListFor(d => d.idPossiveisDanos, (SelectList)ViewBag.PossiveisDanos, "Selecione um Possivel Dano...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlEventoPerigoso", @autocomplete = "on" })
                    @Html.ValidationMessageFor(d => d.idPossiveisDanos, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                </div>
            </div>
        </div>


    </div>


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" id="btnSalvar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Salvar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
                &nbsp;
                <a class="btn" href="javascript:history.back()">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    }


</div> <!-- Fim FormQuery -->


@section Scripts {

    <script src="~/Scripts/Custom/TipoDeRisco/Novo.js"></script>

}


























