@model GISModel.Entidades.Empresa

@{
    ViewBag.Title = "Edição de Empresa";
}


<div id="formEditEmpresa">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Edição de Empresa
                </h1>
            </div>
        </div>
    </div>

    @if (Model == null)
    {
        <div class="error-container">
		    <div class="well">
			    <h1 class="grey lighter smaller">
				    <span class="blue bigger-125">
                        <i class="ace-icon fa fa-exclamation-triangle"></i>
					    Oops
				    </span>
				    Não foi possível encontrar a empresa.
			    </h1>

			    <hr />
			    <div class="space"></div>

			    <div class="center">
				    <a href="javascript:history.back()" class="btn btn-grey">
					    <i class="ace-icon fa fa-arrow-left"></i>
					    Voltar
				    </a>
			    </div>
		    </div>
	    </div>
    }
    else { 
        using (Ajax.BeginForm("Atualizar", "Empresa", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginAtualizarEmpresa", OnSuccess = "OnSuccessAtualizarEmpresa", }, new { @id = "formEdicaoEmpresa", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(d => d.CNPJ, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.CNPJ, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtCNPJ" } })
                            @Html.ValidationMessageFor(d => d.CNPJ, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                            @Html.HiddenFor(d => d.IDEmpresa)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(d => d.NomeFantasia, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.NomeFantasia, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                            @Html.ValidationMessageFor(d => d.NomeFantasia, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(d => d.RazaoSocial, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.RazaoSocial, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(d => d.URL_LogoMarca, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.URL_LogoMarca, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @readonly = "readonly", @id = "URLLogoMarca" } })
                            @Html.ValidationMessageFor(d => d.URL_LogoMarca, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(d => d.URL_Site, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.URL_Site, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(d => d.URL_AD, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.URL_AD, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(d => d.URL_WS, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        <div class="col-xs-12 col-sm-12">
                            @Html.EditorFor(d => d.URL_WS, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                    <button class="btn btn-info" id="blnSalvar" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Salvar
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Limpar
                    </button>
                    &nbsp;
                    <a class="btn" href="javascript:history.back()">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Voltar
                    </a>
                </div>
            </div>
        }
    }

    

</div> <!-- Fim FormQuery -->

<div id="modalArquivo" class="modal fade" style="z-index: 10001">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="modalArquivoX" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin"><i class="ace-icon fa fa-folder-open orange2"></i> Arquivo referente a Logo-Marca</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="modalArquivoCorpoLoading" style="float: right; display: none">
                            ...Carregando
                            @*<img src="~/Content/Images/ajax-loading.GIF" />*@
                            <i id="loadingLogin" style="margin-top: 5px;" class="ace-icon fa fa-spinner fa-spin blue bigger-125"></i>
                        </div>
                        <div id="modalArquivoCorpo"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <span id="modalArquivoLoading" style="display: none; float: left; padding-top: 6px">
                            @*<img src="~/Content/Images/ajax-loading.GIF" />*@
                            <i id="loadingLogin" style="margin-top: 5px;" class="ace-icon fa fa-spinner fa-spin blue bigger-125"></i>
                        </span>

                        <button id="modalArquivoFechar" class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Fechar
                        </button>

                        <button id="modalArquivoProsseguir" class="btn btn-sm btn-info" style="right: 5px; left: auto">
                            <i class="ace-icon fa fa-check"></i>
                            Prosseguir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/ace_js_fileUpload")
    <script src="~/Scripts/jQuery/inputmask.js"></script>
    <script src="~/Scripts/jQuery/jquery.inputmask.js"></script>
    <script src="~/Scripts/Custom/Empresa/Edicao.js"></script>
}

@section Stylesheets {
    @Styles.Render("~/bundles/ace_css_fileUpload")
}

