@model GISModel.Entidades.Admissao



<div>
    <div class="row">
        <div class="col-xs-12">

            @{
                Html.RenderPartial("_MensagensDeRetorno");
            }

            @if (ViewBag.Admissao != null)
            {
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                @*<th width="200px"></th>*@
                                @*<th width="300px">Nome da Ambiente</th>*@
                                @*<th>Empresa Admitido</th>
                                    <th>Data de Admissao</th>
                                    <th width="100px"></th>*@
                            </tr>

                        </thead>

                        <tbody>


                            @foreach (var iAdmissao in ViewBag.Admissao)
                            {

                                <tr id="linha-@iAdmissao.IDAdmissao">
                                    <td width="200px">
                                        <h1><b> @iAdmissao.Empregado.Nome&nbsp CPF - @iAdmissao.Empregado.CPF</b></h1>
                                        <br />
                                        <img src="/Images/AdmissaoImagens/@iAdmissao.IDAdmissao/@iAdmissao.Imagem" alt="Admissao" width="200px" />

                                        <br /><br /><br />
                                        <b>
                                            Empresa:&nbsp
                                            @iAdmissao.Empresa.NomeFantasia
                                            <br />
                                            Email:&nbsp
                                            @iAdmissao.Empregado.Email
                                            <br />
                                            Data de Nascimento:&nbsp
                                            @iAdmissao.Empregado.DataNascimento
                                            <br />
                                            Data de Admissão:&nbsp
                                            @iAdmissao.DataAdmissao
                                            <br />
                                            Admitido por:&nbsp
                                            @iAdmissao.UsuarioInclusao

                                        </b>

                                    </td>

                                </tr>

                                <tr>
                                    <td>

                                        <div class="col-xs-12 col-sm-6 col-sm-offset-0 align-left">
                                            <a class="btn btn-success" href="#" onclick="AlocarEmpregado('@iAdmissao.IDAdmissao','@iAdmissao.IDEmpregado','@iAdmissao.IDEmpresa');" data-rel="tooltip" title="Alocar ">
                                                @*<a class="btn btn-success" href="@Url.Action("Novo","Alocacao", new { AdmissaoID = @iAdmissao.IDAdmissao, id=iAdmissao.IDEmpregado, idEmpresa = @iAdmissao.IDEmpresa })" role="button" style="color:green">*@
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Alocar  &nbsp
                                            </a>

                                            &nbsp;
                                            <a class="btn btn-danger" onclick="DeletarEmpresa('@iAdmissao.IDAdmissao', '@iAdmissao.Empresa.NomeFantasia');" data-rel="tooltip" title="Delete">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Demitir
                                            </a>
                                            <a class="btn" href="javascript:history.back()">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                Voltar
                                            </a>

                                        </div>
                                    </td>
                                </tr>



                            }


                        </tbody>

                    </table>
                </div>

            }


            @if (ViewBag.Alocacao != null)
            {

                <h1>Alocação Ativa </h1>
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">

                        @foreach (var item in ViewBag.Alocacao)
                        {

                            <tr id="linha-@item.IDAlocacao">
                                <td width="200px">
                                    <b>

                                        Estabelecimento:&nbsp
                                        @item.Estabelecimento.NomeCompleto
                                        <br />
                                        Departamento:&nbsp
                                        @item.Departamento.Sigla
                                        <br />
                                        Cargo:&nbsp
                                        @item.Cargo.NomeDoCargo
                                        <br />
                                        Função:&nbsp
                                        @item.Funcao.NomeDaFuncao
                                        <br />
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-success" href="#" onclick="DesalocarEmpregado('@item.IDAlocacao','@item.Admissao.IDEmpregado');" data-rel="tooltip" title="Desalocar ">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Desalocar  &nbsp
                                    </a>

                                    <a class="btn btn-info2" href="#" onclick="EstabelecimentoAmbienteAlocado('@item.idEstabelecimento','@item.IDAlocacao');" data-rel="tooltip" title="Estabelecimento ">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Ambientes &nbsp
                                    </a>
                                    <a class="btn btn-info2" href="#" onclick="AlocarEmAmbiente('@item.idEstabelecimento','@item.IDAlocacao');" data-rel="tooltip" title="Alocar Ambientes ">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Alocar Ambientes &nbsp
                                    </a>

                                    @*<a class="btn btn-info2" href="#" onclick="Exposicao('@item.idEstabelecimento','@item.IDAlocacao','@item.IdAdmissao');" data-rel="tooltip" title="Alocar Ambientes ">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Cadastrar Exposição &nbsp
                                    </a>*@
                                    
                                </td>
                            </tr>

                        }

                    </table>

                </div>

            }

        </div>
    </div>

</div>











@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/Admissao/Listagem.js"></script>
    <script src="~/Scripts/Custom/Alocacao/Novo.js"></script>
    <script src="~/Scripts/Custom/AtividadeAlocada/Novo.js"></script>
    <script src="~/Scripts/Custom/Exposicao/Novo.js"></script>
}










































































