@using GISModel.Entidades

@{
    ViewBag.Title = "Lista de Riscos do Ambiente";
}

<div class="row">
    <div class="col-xs-12">
       
        <br />
        <h1>
            <strong>@ViewBag.nome</strong>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        @{
            Html.RenderPartial("_MensagensDeRetorno");
        }

        @if (ViewBag.AtividadeLista != null)
        {
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="100px"></th>                           
                            <th>Descrição</th>
                            <th width="90px">Riscos</th>

                            @*<th width="89px"></th>*@
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (AtividadesDoEstabelecimento iImagens in ViewBag.AtividadeLista)
                        {
                            <tr id="linha-@iImagens.IDAtividadesDoEstabelecimento">
                                <td>
                                    <img src="/Images/AtividadesEstabelecimentoImagens/@iImagens.IDAtividadesDoEstabelecimento/@iImagens.Imagem" alt="RiscosDoAmbiente" width="90" height="70" />
                                </td>                               
                                <td>@iImagens.DescricaoDestaAtividade</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue" href="#" onclick="BuscarDetalhesEstabelecimentoImagens('@iImagens.IDAtividadesDoEstabelecimento'); return false;">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>
                                        <a class="btn btn-info2" href="#" onclick="EstabelecimentoAmbienteAlocado('@iImagens.IDEstabelecimento','@iImagens.IDAlocacao');" data-rel="tooltip" title="Estabelecimento ">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Ambientes &nbsp
                                        </a>


                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>
                                            <a class="btn btn-info2" href="#" onclick="EstabelecimentoAmbienteAlocado('@iImagens.IDEstabelecimento','@iImagens.IDAlocacao');" data-rel="tooltip" title="Estabelecimento ">
                                                <i class="ace-icon fa fa-check bigger-110"></i>
                                                Ambientes &nbsp
                                            </a>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-info" onclick="BuscarDetalhesEmpresa('@iImagens.IDAtividadesDoEstabelecimento'); return false;" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                    
                    &nbsp;
                    <a class="btn" href="javascript:history.back()">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Voltar
                    </a>
                </div>
            </div>
        }


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Custom/AtividadesDoEstabelecimento/Listagem.js"></script>
}
